<div data-hook="admin_tax_category_form_fields">
  <div class="row">
    <div class="omega six columns">
      <%= f.field_container :name do %>
          <%= f.label :name, Spree.t(:name) %>
          <%= f.text_field :name, :class => 'fullwidth', placeholder: 'Add On name' %>
      <% end %>
    </div>
    <div class="omega four columns">
      <%= f.field_container :sku do %>
          <%= f.label :sku, "SKU" %><br>
          <%= f.text_field :sku, :class => 'fullwidth', placeholder: 'ABC-123' %>
      <% end %>
    </div>
    <div class="two columns omega">
      <%= f.field_container :active do %>
          <%= f.label :active, "Active" %><br>
          <%= f.check_box :active, {}, "true", "false" %>
      <% end %>

      <%= f.hidden_field :is_master, value: true %><br>
    </div>
  </div>

  <div class="row">
    <div class="four columns omega">
      <%= f.field_container :type do %>
          <%= f.label :type, Spree.t(:type) %>
          <%= f.select :type, options_for_select(Spree::AddOn.types.collect { |klass| [klass.display_name, klass.name] }, selected: @add_on.class.name), {}, :class => 'select2 fullwidth' %>
      <% end %>

      <% field_name = "[add_on][calculator_type]" %>
      <%= label_tag field_name, Spree.t(:calculator) %>
      <%= select_tag field_name, options_from_collection_for_select(@calculators, :to_s, :description), :class => 'type-select select2 fullwidth' %>
    </div>

    <% if @add_on.calculator.present? %>
        <div class="add-on-calculator field omega four columns">
          <% param_prefix = "add_on" %>
          <% type_name = @add_on.calculator.type.demodulize.underscore %>
          <% if lookup_context.exists?("fields", ["spree/admin/promotions/calculators/#{type_name}"], true) %>
              <%= render "spree/admin/promotions/calculators/#{type_name}/fields", calculator: @add_on.calculator, prefix: param_prefix %>
          <% else %>
              <%= render "spree/admin/promotions/calculators/default_fields", calculator: @add_on.calculator, prefix: param_prefix %>
          <% end %>
          <%= hidden_field_tag "#{param_prefix}[calculator_attributes][id]", @add_on.calculator.id %>
        </div>
    <% end %>
  </div>

  <div class="row">
    <div class="eight columns omega">
      <%= f.field_container :option_types do %>
          <%= f.label :option_type_ids, Spree.t(:option_types) %>
          <%= f.hidden_field :option_type_ids, :value => @add_on.option_type_ids.join(','), class: 'fullwidth' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="eight columns omega">
      <%= f.field_container :description do %>
          <%= f.label :description, "Description" %><br>
          <%= f.text_area :description, class: "fullwidth", placeholder: 'Something about this add on' %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <% @add_on.option_types.each do |opt| %>
        <table class="index six columns">
          <colgroup>
            <col style="width: 80%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
          </colgroup>
          <thead>
          <tr>
            <td><%= opt.presentation %></td>
            <td>Image</td>
          </tr>
          </thead>
          <tbody>
          <% options = opt.option_values.map { |o| o.name } %>
          <% images = @add_on.images.select {|img| options.include?(img.preferred_option_value) } %>
          <% (opt.option_values.length - images.length).times { images.push(@add_on.images.build) } %>
          <%= f.fields_for :images, images do |img| %>
              <tr>
                <td>
                  <%= img.select :preferred_option_value, options_from_collection_for_select(opt.option_values, :name, :presentation, img.object.preferred_option_value), {}, class: 'select2 fullwidth' %>
                </td>
                <td>
                  <% if img.object.attachment.present? %>
                      <div data-hook="thumbnail" class="add-on-option-image">
                        <%= image_tag img.object.attachment.url(:small) %>
                      </div>
                  <% else %>
                      <div data-hook="file" class="field">
                        <%= img.label :attachment, Spree.t(:filename) %><br>
                        <%= img.file_field :attachment %>
                        <%= img.hidden_field :viewable_id, :value => @add_on.id %>
                      </div>
                  <% end %>
                </td>
                <td class="actions">
                  <%= link_to '', 'javascript:void(0);', class: 'edit-line-item-design fa fa-edit no-text with-tip' %>
                </td>
              </tr>
          <% end %>
          </tbody>

        </table>
    <% end %>
  </div>

</div>


<style>
    .add-on-option-image > img {
        max-height: 75px;
    }
</style>